*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: inherit;
}

body{
    background-color: darkgrey;
}

.grid-item{
    background-color: seagreen;
    border: 1px black solid;
    text-align: center;
}

.builder-flexbox{
    display: flex;
    justify-content: space-around;
    width: auto;  
}

.builder-grid{
    background-color: brown;
    width: 70%;
    flex-grow: 1;
}

.builder-option{
    background-color: tomato;
    width: 30%;
    /* max-width: 500px; */
    margin-left: 20px;
}


.grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(50px, auto);
}



.grid-item-arrow-up-flexbox{
    display: flex;
    /* height: 33%; */
    justify-content: center;
    align-items: flex-start;
}

.grid-item-arrow-left-right-flexbox{
    display: flex;
    /* height: 34%; */
    justify-content: space-between;
    align-items: center;
}

.grid-item-arrow-down-flexbox{
    display: flex;
    /* height: 33%; */
    justify-content: center;
    align-items: flex-end;
}

.arrow-button{
    display: none;
}

.arrow{
    width: 16px;
    max-width: inherit;
    /* display: none; */
}


.test{
    display: block;
    width: 200px;
    height: 200px;
    background-color: royalblue;
}

.test2, .test3{
    display: inline-block;
    width: 50%;
    height: 20px;
    background-color: seagreen;
    z-index: 10;
}


