{% extends "instagif/admin.html" %}

{% block content %}
{% load static %}
<form action="{% url 'instagif:admin_tag_create'%}" method="POST" id="create-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="input-container">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="input" placeholder="Name..." required>
    </div>


    <div id="submit-container" class="input-container">
        <button id="submit" type="submit">Create</button>
    </div>
</form>
{% endblock %}



{% block style %}
<link rel="stylesheet" href="{% static 'instagif/admin_user_edit.css' %}">
<script src="{% static 'instagif/admin_tag_create.js' %}"></script>
{% endblock %}