{% extends "instagif/base.html" %}

{% block content %}

{% load static %}
<div id="search-result-text">
    Search results for <span id="search-text">"{{ query }}"</span>
</div>
<div id="search-container">

    {% for image in images %}

    <div class="search-item">
        <a class="search-item-button" href="{% url 'instagif:detail' image.id %}">
            <img class="search-item-img" src="{{ image.src }}" >
            <!-- <video class="search-item-img" autoplay muted loop>
                <source src="{{ item.gif_url }}" type="video/mp4">
                <source src="{{ item.gif_url }}" type="video/gif">
                Your browser does not support the video tag.
            </video>      -->
        </a>
    </div>
    
    {% endfor %}



</div>
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'instagif/search.css' %}">
{% endblock %}