:root{
    --media-min-width: 700px;
    --media-comment-container-width: 400px;
    --form-height: 60px;
    --content-margin-vertical: 50px;
}

#super-container{
    margin-bottom: 0;
    padding-top: var(--content-margin-vertical);
}

#base-content-container{
    margin-top: 0;
    margin-bottom: 0;
    height: calc(100% - var(--content-margin-vertical));
}

#detail-content{
    height: 100%;
}

.content-item{
    height: 100%;
    padding-top: 10px;
    background-color: var(--item-background);
    border: 1px solid var(--border-color);
    position: relative;
}

.content-item-info{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-item-info-item{
    width: 50px;
    height: 100%;
}

.content-item-info-item-button{
    width: 100%;
    height: 100%;
}

.content-item-info-item-img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.content-item-info-item-name{
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

#info-name{
    width: 200px;
    display: flex;
    align-items: center;
}

#info-etc{
    margin-left: auto;
}

.content-item-title{
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
    height: 20px;
    margin-bottom: 5px;
}

.content-item-gif{
    /* min-height: 200px; */
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-item-gif-img{
    width: 100%;
    max-height: 500px;
    object-fit: contain;

}

.content-item-action{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.content-item-action-item{
    width: 70px;
    height: 100%;
    background-color: inherit;
}

.content-item-action-item-button{
    width: 100%;
    height: 100%;
}

.download-link{
    width: 100%;
    height: 100%;
}

.content-item-action-item-img{
    width: 24px;
    height: 24px;
}

#action-save{
    margin-left: auto;
}

.content-item-comment{
    min-height: 60px;
    padding-left: 15px;
    margin-bottom: var(--form-height);
}

.content-item-comment-likes-number{
    font-weight: 500;
    font-size: 14px;
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.content-item-comment-mini-comment{
    height: 20px;
    display: flex;
    align-items: center;
}

.content-item-comment-show{
    height: 30px;
    display: flex;
    align-items: center;
    color: rgba(142, 142, 142, 1);
    margin-top: 10px;
    margin-bottom: 20px;
}

.content-item-date{
    margin-left: auto;
    margin-right: 15px;
}

#comments-number{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
    font-size: 16px;
    font-weight: 900;
}

.content-item-likes-number-date-container{
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-item-comment-item{
    width: 100%;
    min-height: 50px;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
}

.content-item-comment-item-user-avatar{
    width: 50px;
}

.content-item-comment-item-img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    object-fit: cover;
}

.content-item-comment-item-content{
    width: calc(100% - 50px);
}

.content-item-comment-item-username-date-container{
    display: flex;
}

.content-item-comment-item-username{
    display: inline-block;
    font-weight: 500;
}

.content-item-comment-item-date{
    display: inline-block;
    margin-left: auto;
    margin-right: 15px;
    font-weight: 200;
    font-size: 12px;
}

.content-item-comment-item-text{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 15px;
}

#comment-form-container{
    max-width: 100%;
    height: var(--form-height);
    box-sizing: border-box;
    /* margin-left: 15px;
    margin-right: 15px; */
    bottom: 0;
    left: 0;
    right: 0;
    border: var(--border-color) solid 1px;
    border-bottom: 0;
}

.position-fixed{
    position: fixed;
}

.poision-absolute{
    position: absolute;
}

#comment-form{
    width: 100%;
    height: 100%;
}

#form-input-flex{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#comment-input-container{
    width: 80%; 
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

#comment-input{
    width: 100%;
    height: 100%;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    background-color: inherit;
    outline: none;
    padding-left: 15px;
    /* border-left: 5px solid darkcyan; */
    box-sizing: border-box;
    resize: none;
}

#comment-input:focus{
    outline: none;
}

#comment-input:active{
    outline: none;
}

#please-log-in{
    min-height: 50px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

#please-log-in-link{
    font-weight: 900;
    color: blue;
}

#submit-button{
    width: 20%;
    height: 100%;
    margin-left: auto;
    background-color: darkcyan;
    font-weight: 1000;
    color: white;
    box-sizing: content-box;
    border-top: 5px;
    border-bottom: 5px;
}

#tags-container{
    margin-bottom: 15px;
}


@media only screen and (min-width: 760px) {
    #super-container{
        height: calc(100vh - var(--top-bar-height));
    }

    .content-item-gif-comment-container{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        height: calc(100% - 75px);
    }

    .content-item-gif{
        width: calc(100% - var(--media-comment-container-width));
        height: 100%;
        background-color: black;
    }

    .content-item-gif-img{
        max-height: 100%;
    }

    .content-item-action-comment-container{
        width: 50%;
        max-width: 400px;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .content-item-comment{
        margin-bottom: auto;
    }

    #comments-number{
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 14px;
    }

    /* #content-item-comment-item-container{
        height: 350px;
    } */

    .content-item-action{
        height: 36px;
    }

    #comment-form-container{
        height: 60px;
        position: absolute;
        bottom: 0;
        margin-left: 0;
        margin-right: 0;
        border-left: 0;
        border-right: 0;
    }

    #content-item-action-likes-number{
        padding-top: 10px;
        padding-bottom: 10px;
        /* position: absolute;
        left: 0;
        right: 0;
        bottom: var(--form-height); */
        border-top: 1px solid var(--border-color);
        order: 2;
        margin-bottom: 20px;
    }

    #description-comment-container{
        height: calc(100% - 86px);
        overflow-y: scroll;
        order: 1;
    }
}

#description-container{
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 30px;
    text-align: justify;
    text-justify: inter-word;
}

.tag-span{
    margin-right: 3px;
    color: blue;
}