
#content{
    width: 100%;
    max-width: 600px;
    height: 100%;
    /* min-height: calc(100vh - 60px); */
}

#base-content-container{
    padding-top: var(--top-bar-margin);
}

#selection{
    max-width: 600px;
    position: relative;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

#selection-container-extra{
    width: 100%;
    overflow-x: scroll;
    scrollbar-width: none;
    position: relative;
}

.selection-arrow-container{
    width: 35px;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: transparent;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection-arrow-button{
    width: 100%;
    height: 35px;
}

.selection-arrow-img{
    width: 100%;
    height: 100%;
}

#selection-arrow-container-left{
    left: 0;
}

#selection-arrow-container-right{
    right: 0;
}

#selection::-webkit-scrollbar{
    display: none;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#selection-container{
    width: max-content;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    background-color: white;
}

.selection-item{
    width: 90px;
    height: 90px;
    margin-right: 15px;
    display: inline-block;
    background-color: transparent;
}

.selection-item-link{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.selection-item-img{
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 50%;
    object-fit: cover;
}

.selection-item-name{
    font-size: 12px;
    text-align: center;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.content-item{
    margin-top: 20px;
    padding-bottom: 15px;
    background-color: white;
    border: 1px solid;
    border-color: var(--border-color);
    border-radius: 3px;
}

.content-item-info{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.content-item-info-item{
    width: 50px;
    height: 100%;
}

.content-item-info-item-button{
    width: 100%;
    height: 100%;
}

.content-item-info-item-img{
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
}

.content-item-info-item-name{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

.info-name{
    width: 200px;
    display: flex;
    align-items: center;
}

.info-etc{
    margin-left: auto;
}

.content-item-title{
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    height: 20px;
    margin-bottom: 5px;
}

.content-item-title-link{
    font-size: 16px;
    font-weight: 500;
}

.content-item-gif{
    /* min-height: 200px; */
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-item-gif-img{
    max-width: 100%;
    max-height: 600px;
}

.scale0{
    scale: 0;
}

#tooltip-positioner{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#tooltip-container{
    width: 70px;
    height: 50px;
    position: absolute;
    top: -50px;
    transition-duration: 200ms;
    background-color: transparent;
}

#tooltip-box{
    width: 100%;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    background-color: whitesmoke;
}

#tooltip-box-triangle{
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid whitesmoke;
    position: absolute;
    top: 39px;
    left: calc(50% - 10px);
}

#tooltip-text{
    font-size: 13px;
}

.content-item-action{
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.content-item-action-item{
    width: 70px;
    height: 100%;
    position: relative;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-item-action-item-button{
    width: 60%;
    height: 60%;
}

.content-item-action-item-img{
    max-width: 24px;
    max-height: 24px;
    transition-duration: 200ms;
}

.content-item-action-item-save{
    margin-left: auto;
}

.content-item-comment{
    min-height: 60px;
    margin-top: 5px;
    padding-left: 15px;
}

.content-item-comment-likes-number{
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.content-item-comment-mini-comment{
    height: 20px;
    display: flex;
    align-items: center;
}

.comment-name{
    font-weight: 500;
}

.content-item-comment-show{
    height: 30px;
    display: flex;
    align-items: center;
    color: rgba(142, 142, 142, 1);
}

.content-item-date{
    padding-left: 15px;
}

.button-disabled img:hover{
    opacity: 0.5;
}

@media only screen and (max-width: 960px){
    #content{
        margin-left: auto;
        margin-right: auto;
    }

    #selection{
        margin-left: auto;
        margin-right: auto;
    }
}

.tag-span{
    margin-right: 3px;
    color: blue;
}

#description{
    margin-bottom: 10px;
    padding-right: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.description-more, .description-less{
    color: darkgreen;   
    cursor: pointer;
}

#tags-container{
    margin-bottom: 10px;
}

.download-link{
    width: 100%;
    height: 100%;
}