*{
    background-color: inherit;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Lobster', cursive; */
    /* font-family: 'Montserrat', sans-serif; */
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #FAFAFA;
}

input{
    outline: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-right-style: none;
}


.no-outline:focus{
    outline: none;
}

#super-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-box{
    width: 100%;
    max-width: 360px;
    min-width: 300px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#logo-container{
    height: 100px;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: 300;
}

#form-container{
    height: 200px;
    width: 270px;
}

.form-input-container{
    height: 50px;
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    border-radius: 1vw;
    background-color: rgba(240, 240, 240, 0.8);
    margin-bottom: 10px;
}

.form-input{
    display: block;
    height: 40px;
    background-color: transparent;
    font-size: 14px;
}

.form-input:active{
    outline: none;
    background-color: transparent;
}

.form-input:focus{
    outline: none;
    background-color: transparent;
}

.input-placeholder-big{
    position: absolute;
    top: 14px;
    left: 8px;
    display: block;
    font-size: 14px;
}

.input-placeholder-small{
    position: absolute;
    top: 3px;
    left: 8px;
    display: block;
    font-size: 10px;
}

#form-email{
    position: absolute;
    top: 5px;
    left: 8px;
    z-index: 2;
}

.input-placeholder{
    transition-duration: 200ms;
    color: rgb(142, 142, 142);
    opacity: 0.7;
}

#form-password{
    position: absolute;
    top: 5px;
    left: 8px;
    z-index: 2;
    margin-bottom: 20px;
}


#form-submit{
    width: 100%;
    height: 35px;
    margin-top: 30px;
    border-radius: 2vw;
    background-color: rgb(0, 149, 246);
    color: white;
    font-weight: 700;
    outline: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-right-style: none;
    padding-top: 0;
}

#error-message{
    color: red;
    font-size: 12px;
    margin-left: 8px;
    visibility: hidden;
}

#signup-link-container{
    width: 100%;
    max-width: 360px;
    min-width: 300px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border: 1px rgb(201, 201, 201) solid;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.signup-link{
    color: rgb(48, 48, 252);
    font-weight: 700;
}

.signup-link{
    text-decoration: none;
    color: rgb(48, 48, 252);
}

.signup-link:link{
    text-decoration: none;
    color: rgb(48, 48, 252);
}
  
.signup-link:visited{
    color: rgb(48, 48, 252);
}
  
.signup-link:hover{
    text-decoration: none;
    color: rgb(48, 48, 252);
}
  
.signup-link:active {
    text-decoration: none;
    color: rgb(48, 48, 252);
}

#index-link{
    color: black;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    font-weight: 300;
}

#index-link:link{
    text-decoration: none;
    color: black;
}
  
#index-link:visited{
    color: black;
}
  
#index-link:hover{
    text-decoration: none;
    color: black;
}
  
#index-link:active {
    text-decoration: none;
    color: black;
}

