*{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
}

::-webkit-scrollbar {
    display: none;
}

:root{
    --action-container-width: 60px;
}

body{
    background-color: grey;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
} 

#reel-super-container{
    width: 100vw;
    min-width: 300px;
    max-width: 600px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    background-color: black;
    position: relative;
}

#back-link{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 20px;
    margin-left: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    z-index: 5;
}

#back-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

#sign-container{
    position: fixed;
    top: 20px;
    margin-left: 80px;
    display: flex;
    align-items: center;
    z-index: 10;
}

.sign-hide{
    transform: scaleX(0);
}

#sign-text{
    margin-left: 5px;
    transition-duration: 200ms;
    transform-origin: left;
}

#reel-super-container-scroll-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: -100%;
    background: transparent;
    z-index: 2;
}

#reel-content-global-container{
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: black;
    position: relative;
}

.reel-content-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.bg-linear{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(rgba(0,0,0,0.5), transparent 10%, transparent 80%, rgba(0,0,0,0.5));
}

.opacity-less{
    opacity: 0.5;
}

.content-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transition-duration: 200ms;
    /* pointer-events: none; */
}

.info-container{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

.info-container{
    display: flex;
    justify-content: flex-start;
}

.detail-container{
    width: calc(100% - var(--action-container-width));
    height: 150px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 20px;
    align-self: flex-end;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition-duration: 350ms;
    z-index: 3;
}

.title{
    font-size: 16px;
    color: white;
    font-weight: 900;
    margin-bottom: 5px;
}

.display-none{
    display: none;
}

.visibility-hidden{
    visibility: hidden;
}

.detail-top-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}

.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.username{
    margin-right: 10px;
}

.description{
    transition-duration: 1000ms;
    overflow-y: scroll;
}

.following{
    font-style: italic;
}

.action-container{
    width: var(--action-container-width);
    padding-right: 15px;
    align-self: flex-end;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;
}

.action-item-container{
    width: 100%;
    /* height: 60px; */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.action-item-button{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    /* background-color: white; */
    transition-duration: 300ms;
}

.action-img{
    width: 32px;
    height: 32px;
}

.action-item-count{
    color: black;
    font-weight: 500;
}

.save-container{
    margin-bottom: 0;
}

.show-more, .show-less{
    cursor: pointer;
    color: lightgreen;
    font-style: italic;
}

.comment-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.disabled:hover{
    opacity: 0.5;
}

.action-container-border{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

@media only screen and (max-width: 480px) {
    #back-link{
        width: 40px;
        height: 40px;
    }

    .action-image{
        width: 24px;
        height: 24px;
    }

    .action-container{
        width: 36px;
        height: auto;
        margin-left: auto;
        padding-right: 0;
    }

    .action-item-button{
        width: 32px;
        height: 32px;
    }
} 