/* *{
    box-sizing: border-box;
}

#content{
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

#preview-container{
    width: 100%;
    min-height: 150px;
}

#upload{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#upload-form{
    width: 100%;
    margin-top: 20px;
}

.input-container{
    width: 100%;
    height: 70px;
}

.input-label{
    margin-bottom: 5px;
    display: block;
}

.input-item{
    display: block;
    width: 100%;
    height: 35px;
    border: 1px solid cornflowerblue;
    margin-bottom: 20px;
    border-radius: 5px;
    padding-left: 5px;
}

#input-img{
    width: auto;
    height: auto;
    padding-left: 0;
}

#input-checkbox{
    width: auto;
    height: 26px;
}

#upload-submit{
    width: 100px;
    height: 40px;
    background-color: rgb(0, 149, 246);
    color: white;
    font-size: 14px;
    font-weight: 1000;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#preview-img{
    display: block;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid cornflowerblue;
} */

#base-content-container{
    margin-bottom: 0;
    overflow-y: hidden;
}


#content{
    width: 100%;
    height: calc(100vh - var(--top-bar-height));
    background-color: whitesmoke;
    border-right: 1px dashed var(--border-color);
    border-left: 1px dashed var(--border-color);
    border-bottom: 1px dashed var(--border-color);
}

#upload-form{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#preview-img-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#preview-img{
    /* width: 100%; */
    max-width: 100%;
    max-height: calc(100vh - var(--top-bar-height) - 60px);
    object-fit: contain;
}

#live-image-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    /* display: none; */
    z-index: -1;
}

#live-image-container-flex{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#live-img{
    max-width: 1600px;
    max-height: 1600px;
    object-fit: contain;
}

#live-text-container-top{
    top: 10px;
}

#live-text-container-bottom{
    bottom: 10px;
}

#live-div-text-top{
    top: 10px;
    border: 0;
}

#live-div-text-bottom{
    bottom: 10px;
    border: 0;
}

.text-container{
    width: 85%;
    min-height: 30px;
    position: absolute;
    left: auto;
    right: auto;
    background-color: transparent;
}

.text-input{
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: -1px 0 1px black, 0 1px 1px black, 1px 0 1px black, 0 -1px 1px black;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    overflow-y: hidden;
    resize: none;
}

.live-text-container{
    width: 85%;
    min-height: 30px;
    position: absolute;
    left: auto;
    right: auto;
    background-color: transparent;
}

.text-input-border{
    border: 1px dashed white;
}

#text-container-top{
    top: 10px;
}

#text-container-bottom{
    bottom: 10px;
}

#div-text-top{
    top: 10px;
    border: 0;
}

#div-text-bottom{
    bottom: 10px;
    border: 0;
}

#input-upload-submit-container{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.margin-left-auto{
    margin-left: auto;
}

.margin-right-auto{
    margin-right: auto;
}

.margin-right-20{
    margin-right: 20px;
}

#input-img-label{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
}

#input-img{
    display: none;
}

#input-img-icon{
    width: 100%;
    height: 100%;
}

#input-title{
    width: 100%;
    height: 50px;
    font-weight: 500;
    padding-left: 5px;
    border: 1px solid cornflowerblue;
    border-radius: 7px;
}

#post-cancel-container{
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

#input-next{
    width: 50px;
    height: 50px;
    color: white;
    font-weight: 900;
    background-color: cornflowerblue;
    margin-right: auto;
    border-radius: 50%;
}

#upload-submit{
    width: 50px;
    height: 50px;
    color: white;
    font-weight: 900;
    background-color: cornflowerblue;
    margin-left: 20px;
    margin-right: auto;
    border-radius: 50%;
}

#upload-cancel{
    width: 50px;
    height: 50px;
    color: white;
    font-weight: 900;
    background-color: lightcoral;
    margin-left: auto;
    border-radius: 50%;
}

#final-input-container{
    width: 400px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 120px;
    transition-duration: 200ms;
    z-index: 5;
}

.scale0{
    scale: 0;
}

.input-container{
    width: 100%;
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 5px;
}

textarea{
    display: block;
    width: 100%;
    border: 1px solid cornflowerblue;
    border-radius: 7px;
    resize: none;
}


#upload-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 4;
}

.upload-overlay-active{
    opacity: 1;
    pointer-events: all;
}

.upload-overlay-inactive{
    opacity: 0;
    pointer-events: none;
}

/* re-override style from Reboot? */
p{
    margin-bottom: 0;
}