#user-top-container{
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

#user-detail-container{
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user-detail-avatar{
    width: 80px;
    height: 80px;
    margin-right: 100px;
    object-fit: cover;
    border-radius: 50%;
}

#user-detail-followers-container{
    max-width: 350px;
    height: 100%;
    margin-right: auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-detail-followers-item{
    width: 30%;
    text-align: center;
}

.user-detail-followers-item-number{
    margin-bottom: 5px;
    color: black;
    font-size: 24px;
    font-weight: 1000;
}

.user-detail-followers-item-text{
    font-size: 14px;
}

#user-info-username{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
}

#user-info-description{
    margin-bottom: 10px;
}

#follow-button{
    width: 200px;
    height: 30px;
    color: white;
    font-weight: 500;
    font-size: 15px;
    border-radius: 7px;
}

.follow-background{
    background-color: cornflowerblue;
}

.unfollow-background{
    font-style: italic;
    background-color: lightcoral;
}

#user-info-container{
    margin-bottom: 20px;
}

#images-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 2px;
}

.images-item{
    aspect-ratio: 1 / 1;
}

.images-item-link{
    width: 100%;
    height: 100%;
    display: block;
}

.images-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 900px){
    #images-container{
        gap: 20px;
    }
}

@media only screen and (max-width: 480px){
    #images-container{
        grid-template-columns: repeat(2, 1fr);
    }

    #user-detail-container{
        height: auto;
        flex-direction: column;
    }

    #user-detail-avatar{
        width: 60px;
        height: 60px;
        margin-right: 0;
        margin-bottom: 15px;
        
    }

    #user-detail-followers-container{
        width: 100%;
        margin-left: auto;
        justify-content: center;
    }

    .user-detail-followers-item-number{
        font-size: 20px;
    }

    .user-detail-followers-item-text{
        text-transform: lowercase;
    }
}