*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: rgb(155, 155, 155);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
}

:root{
    --super-container-bg: #272727;
    --section-bg: rgb(33, 33, 33);
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
  

#super-container{
    width: 100%;
    max-width: 1200px;
    min-width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    background-color: var(--super-container-bg);
}

#attributions-container{
    display: none;
}

#topbar{
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 5px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    background-color: var(--section-bg);
}

#back-search-container{
    padding-top: 15px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

#back-button{
    height: 35px;
    aspect-ratio: 1 / 1;
    background: transparent;
}

#back-img{
    width: 100%;
    height: 100%;
}

#search-container{
    height: 35px;
    margin-left: 5px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    background: var(--super-container-bg);
}

#search-button{
    height: 100%;
    aspect-ratio: 1 / 1;
    background: transparent;
}

#search-icon{
    width: 26px;
    height: 26px;
}

#search-input{
    height: 100%;
    flex-grow: 1;
    background: transparent;
}

#search-input:active, #search-input:focus{
    outline: none;
}


#address-bar-container{
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

#address-bar-container i{
    margin-right: 10px;
    font-size: 18px;
}

#location-icon{
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.section{
    background-color: var(--section-bg);
    margin-bottom: 15px;
}

#banner-container{
    width: 100%;
    margin-bottom: 0;
    padding-top: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    display: flex;
}

.banner-flex{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-display{
    width: 100%;
    height: 150px;
    position: relative;
}

.banner-out-left{
    opacity: 0;
    transform: rotateY(-90deg);
    transition-duration: 500ms;
}

.banner-out-right{
    opacity: 0;
    transform: rotateY(60deg);    
}

.banner-item-container{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.banner-item{
    width: 100%;
    height: 100%;
    display: block;
    /* transition-duration: 500ms; */
    transform-origin: top left;  
}

.banner-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.display-none{
    display: none;
}

#banner-slide{
    width: 100px;
    height: 14px;
    position: absolute;
    left: 30px;
    bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    z-index: 90;
}

.banner-slide-item-color{
    position: absolute;
    width: 7px;
    height: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: lightslategrey;
}

.slide-active{
    height: 7px;
}


.banner-slide-item{
    width: 7px;
    height: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-slide-transition1-enter-active, .banner-slide-transition0-enter-active{
    transition: height 200ms;
}

.banner-slide-transition1-enter-from{
    height: 3px;
}

.banner-slide-transition1-enter-to{
    height: 7px;
}

.banner-slide-transition0-enter-from{
    height: 7px;
}

.banner-slide-transition0-enter-to{
    height: 3px;
}

.banner-arrow{
    width: 30px;
    height: 30px;
    position: absolute;
    align-self: center;
    background-color: rgba(0,0,0, 0.2);
    transition-duration: 200ms;
    z-index: 85;
}

.banner-arrow .bi{
    color: white;
    font-weight: 1000;
    font-size: 20px;
}

.banner-arrow:hover{
    background-color: black;
}

#banner-arrow-right{
    right: 0;
}

#banner-arrow-left{
    left: 0;
}

#tag-container{
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

.tag-item{
    width: 100%;
    height: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 200ms;
    border-radius: 10px;
}

.tag-item:hover{
   background-color:  rgba(255, 255, 255, 0.1);
}

.tag-item-img{
    max-width: 30px;
    max-height: 30px;
}

.tag-item-name{
    margin-top: 8px;
    text-align: center;
    font-size: 13px;
}

.preview-container{
    padding-top: 20px;
    padding-right: 7px;
    padding-left: 7px;
    padding-bottom: 20px;
}

.preview-top-container{
    display: flex;
    align-items: center;
}

.preview-name{
    color: lightcoral;
    font-size: 16px;
}

.preview-see-all{
    margin-left: auto;
}

.preview-flex-container{
    width: 100%;
    margin-top: 12px;
    overflow-x: scroll;
}

.preview-flex{
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-item{
    width: 150px;
    margin-right: 7px;
}

.preview-item-img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.preview-item-name{
    margin-top: 3px;
    font-size: 15px;
}




.bbb-enter-active, .bbb-leave-active{
    transition: all 500ms;
}

.bbb-enter-from{
    transform: translateX(100%);
    opacity: 0;
}

.bbb-leave-to{
    transform: translateX(-100%);
    opacity: 0;
}

.aaa-enter-active, .aaa-leave-active{
    transition: all 500ms;
}

.aaa-enter-from{
    transform: translateX(-100%);
    opacity: 0;
}

.aaa-leave-to{
    transform: translateX(100%);
    opacity: 0;
}