<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index2</title>
</head>
<body>
    {% load static %}

    <div class="page-container">
        <div class="cell-extra-container">
            <div class="cell-container"> 
                
            </div>
        </div>
        <div class="option">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis veniam est, suscipit accusantium illo molestias ipsam placeat vel error. Expedita itaque aliquid incidunt fugit distinctio? Quod obcaecati quia consequatur saepe! Possimus fugiat maxime officia voluptas maiores assumenda eligendi sed, ab, quaerat cum voluptates iure? Sed, ipsa ad sapiente recusandae temporibus provident, in id, adipisci et dolorem explicabo laborum quo ut architecto maxime ratione voluptatem dignissimos eligendi. Alias velit quam ad voluptatibus numquam a voluptate hic corporis veritatis officia officiis nam, aspernatur soluta omnis voluptas ab dolorem in voluptatem fuga, commodi, odio aperiam necessitatibus nihil! Perspiciatis ullam architecto suscipit deleniti reprehenderit.

            </p>
        </div>
    </div>


    <!-- test -->
    <!-- <div class="layer-1">
        <div class="blockx black"></div>
        <div class="blockx red"></div>
    </div>
    <div class="layer-2">
        <div class="blockx green"></div>
        <div class="blockx yellow"></div>
    </div> -->

    
    <link rel="stylesheet" type="text/css" href="{% static 'main/index2.css' %}">
    <script src="{% static 'main/index2.js' %}"></script>

</body>
</html>