<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Win10 Clone</title>
</head>
<body>
    {% load static %}
    <div id="win-container">
        <div id="desktop-icons-grid">
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>

            <div class="desktop-icons-grid-item" id="desktop2">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            <div class="desktop-icons-grid-item">
                <div class="desktop-icons-grid-item-image-flex">
                    <img class="desktop-icons-grid-item-image" src="{% static 'main/power.png' %}">
                </div>
                <div class="desktop-icons-grid-item-text-flex">
                    <span class="desktop-icons-grid-item-text">Icon name is very long and tiring process that needs to be done in order to fulfill the ancient propechy</span>
                </div>

            </div>
            
            
            
        </div>
        <div id="toolbar">
            <div id="start-container">
                <div id="start-icon-container">
                    <button id="start-button" class="toolbar-item-button">
                        <img id="start-icon" src="{% static 'main/windows64px.png' %}">
                    </button>
                </div>
            </div>
        
            <div id="separator"></div>

            <div id="toolbar-items-container">
                <div id="toolbar-items-flex">
                    <div class="toolbar-item" id="explorer">
                        <button class="toolbar-item-button">
                            <img class="toolbar-item-icon" src="{% static 'main/explorer.png' %}">
                        </button>
                    </div>

                    <div class="toolbar-item" id="firefox">
                        <button class="toolbar-item-button">
                            <img class="toolbar-item-icon" src="{% static 'main/firefox.png' %}">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div id="start-menu" class="start-menu-off">
            <div id="start-menu-left">
                <div id="start-menu-left-extra-container">
                    <div id="start-menu-left-flex">
                        <div class="start-menu-left-item">
                            <button class="start-menu-left-item-button">
                                <img class="start-menu-left-item-icon" src="{% static 'main/account.png' %}">
                            </button>
                        </div>
                        <div class="start-menu-left-item">
                            <button class="start-menu-left-item-button">
                                <img class="start-menu-left-item-icon" src="{% static 'main/settings.png' %}">
                            </button>
                        </div>
                        <div class="start-menu-left-item">
                            <button class="start-menu-left-item-button">
                                <img class="start-menu-left-item-icon" src="{% static 'main/power.png' %}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="start-menu-mid">
                <div id="start-menu-mid-extra-container" class="start-menu-scroll">

                    <div id="start-menu-mid-most-used" class="start-menu-mid-catalog">
                        <span class="start-menu-mid-initial">Most used</span>
                    </div>
                    <div class="start-menu-mid-flex-container">
                        <div class="start-menu-mid-flex">
                            <div class="start-menu-mid-item">
                                <div class="start-menu-mid-item-icon-flex">
                                    <img class="start-menu-mid-item-icon" src="{% static 'main/settings.png' %}">
                                </div>
                                <div class="start-menu-mid-item-text-flex">
                                    <span class="start-menu-mid-item-text">Program 1</span>
                                </div>
                            </div>
                            <div class="start-menu-mid-item">
                                <div class="start-menu-mid-item-icon-flex">
                                    <img class="start-menu-mid-item-icon" src="{% static 'main/settings.png' %}">
                                </div>
                                <div class="start-menu-mid-item-text-flex">
                                    <span class="start-menu-mid-item-text">Program 2</span>
                                </div>
                            </div>
                            <div class="start-menu-mid-item">
                                <div class="start-menu-mid-item-icon-flex">
                                    <img class="start-menu-mid-item-icon" src="{% static 'main/settings.png' %}">
                                </div>
                                <div class="start-menu-mid-item-text-flex">
                                    <span class="start-menu-mid-item-text">Program 3</span>
                                </div>
                            </div>
                            

                            
                            
                        </div>
                    </div>
                    <div class="start-menu-mid-catalog">
                        <span class="start-menu-mid-initial">A</span>
                    </div>
                    <div class="start-menu-mid-flex-container">
                        <div class="start-menu-mid-flex">
                            
                            {% for i in programs %}

                            <div class="start-menu-mid-item">
                                <div class="start-menu-mid-item-icon-flex">
                                    <img class="start-menu-mid-item-icon" src="{% static 'main/settings.png' %}">
                                </div>
                                <div class="start-menu-mid-item-text-flex">
                                    <span class="start-menu-mid-item-text">Program {{i}}</span>
                                </div>
                            </div>

                            {% endfor %}
                        

                            
                        </div>
                    </div>
                </div>
                
            </div>



            <div id="start-menu-right">
                <div id="start-menu-close">
                    <button id="start-menu-close-button">
                        <img id="start-menu-close-icon" src="{% static 'main/close.png' %}">
                    </button>
                </div>
                <div id="start-menu-right-extra-container" class="start-menu-scroll" >
                    <div class="start-menu-mid-catalog">
                        <span class="start-menu-mid-initial">Pinned apps</span>
                    </div>
                    <div class="start-menu-right-grid-container">
                        <div class="start-menu-right-grid">
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item1">1</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item2">2</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item3">3</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item4">4</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item5">5</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item6">6</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item7">7</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item8">8</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item9">9</div>
                            <div class="start-menu-right-grid-item medium" id="start-menu-right-grid-item10">10</div>
                        </div>
                    </div>
                    
                   
                

                    
                    

                </div>
            </div>
        </div>
        
    



    </div>



<link rel="stylesheet" type="text/css" href="{% static 'main/index3.css' %}">
<script src="{% static 'main/index3.js' %}"></script>

</body>
</html>