<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homescreen</title>
</head>
<body>
    {% load static %}
    <div class="super-container">
        <div class="background-img"></div>
        <div class="top-bar">
            <div class="top-bar-item top-bar-operator"><p>Operator</p></div>
            <div class="top-bar-item top-bar-clock"><p>12:34</p></div>
            <div class="top-bar-item top-bar-notif"><img src="{% static 'android/settings.png' %}"></div>
            <div class="top-bar-item top-bar-signal"><img src="{% static 'android/signal.png' %}"></div>
            <div class="top-bar-item top-bar-battery"><img src="{% static 'android/battery.png' %}"></div>
        </div>

        <div id="mainscreen" class="mainscreen">
            <div id="homescreen" class="homescreen">
                <div class="app-grid-container">
                    <div class="app-grid">
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
                        <div class="app-grid-item-container">
                            <div class="app-grid-item">
                                <img class="app-grid-item-img" src="{% static 'android/settings.png' %}" alt="">
                                <p class="app-grid-item-text">App name</p>
                            </div>
                        </div>
    
                        
                    
                        
                        
                    </div>
                </div>
                <div class="pinned-app">
                    <div class="pinned-app-grid">
                        <div class="pinned-app-item">
                            <button class="pinned-app-button">
                                <img class="pinned-app-img" src="{% static 'android/settings.png' %}">
                            </button>
                        </div>
                        <div class="pinned-app-item"></div>
                        <div class="pinned-app-item"></div>
                        <!-- <div class="pinned-app-item"></div> -->
                        <!-- <div class="pinned-app-item"></div> -->
                        <div class="pinned-app-item"></div>
                        <div class="pinned-app-item"></div>
                    </div>
                </div>
            </div>

            <!-- menu screen start -->
            <div id="menuscreen" class="menuscreen">
                <div class="search-bar-container">
                    <div class="search-bar-input-container-border-radius-left"></div>
                    <div class="search-bar-input-container">
                        <input type="text" class="search-bar" name="search-bar-input" placeholder="Search for app...">
                    </div>
                    <div class="search-bar-input-container-border-radius-right"></div>
                    
                </div>
                <div id="app-list-container" class="app-list-container">
                    <!-- <div class="index-container">
                        <p class="index-text">A</p>
                    </div> -->
                    <div class="app-list-grid">

                        {% for i in app_list%}
                        <div class="app-list-item">
                            <img class="app-list-item-img" src="{% static 'android/settings.png' %}">
                            <p class="app-list-item-text">App name {{i}}</p>
                        </div>
                        
                        {% endfor %}

    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="nav-bar">
            <div class="nav-bar-item" id="menu-button">
                <button class="nav-bar-item-button" id="menu-button-button">
                    <img class="nav-bar-item-img" src="{% static 'android/menu.png' %}">
                </button>
            </div>
            <div class="nav-bar-item" id="home-button">
                <button class="nav-bar-item-button" id="home-button-button">
                    <img class="nav-bar-item-img" src="{% static 'android/home.png' %}">
                </button>
            </div>
            <div class="nav-bar-item" id="back-button">
                <button class="nav-bar-item-button" id="back-button-button">
                    <img class="nav-bar-item-img" src="{% static 'android/back.png' %}">
                </button>
            </div>
        </div>
            
        


        



    </div>



    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'android/home.css' %}">

    <script src="{% static 'android/home.js' %}"></script>
 
</body>
</html>